
{% for book in books %}



	<div class="col-md-4">
		<figure class="card card-product-grid">
			<div class="img-wrap"> 
				<a href="">
				<img style="height: 150px" src="{{ book.picture.url }}">
				</a>
			</div> <!-- img-wrap.// -->
			<figcaption class="info-wrap">
				<div class="fix-height">
					<a href="" class="title">{{ book.product_name }}</a>
					<div class="price-wrap mt-2">
						<span class="price">{{ book.price }} DT </span>
					</div> <!-- price-wrap.// -->
				</div>
				<a href="" class="btn btn-block btn-primary">View Details</a>	
			</figcaption>
		</figure>
	</div> <!-- col.// -->
	{% endfor %}