@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
	font-family: "montserrat", sans-serif;
	color: #212529;
	background-color: rgb(236 248 246);
}

a {
	color: #f8a41e;
	text-decoration: none;
}

a:hover {
	color: #f8a41e;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-primary {
	font-family: "montserrat", sans-serif;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
	width: 100%;
	height: 70vh;
	background: #ffffff;
	margin: 72px 0 -72px 0;
}
.accordion-item{

    background: #ecf8f6;
 padding: 1%;
}
.accordion-button{
	
    background: #ecf8f6;
    border: 1px solid;
}

#hero .animated {
	animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@media (max-width: 991px) {
	#hero {
		height: calc(100vh - 72px);
	}
	#hero .animated {
		-webkit-animation: none;
		animation: none;
	}
	#hero .hero-img {
		text-align: center;
	}
	#hero .hero-img img {
		width: 50%;
	}
}
@media (max-width: 768px) {
	#hero .hero-img img {
		width: 70%;
	}
}
@media (max-width: 575px) {
	#hero .hero-img img {
		width: 80%;
		margin-right: -100px;
	}
}
@media (max-height: 600px) {
	#hero {
		height: 120vh;
	}
}

@-webkit-keyframes up-down {
	0% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(-10px);
	}
}

@keyframes up-down {
	0% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(-10px);
	}
}
form {
	width: 60% !important;
	margin-left: 30% !important;
}
form .btn-in {
	background-color: #f8a41e !important;
	width: 100% !important;
	border: none;
	border-radius: 5px;
	height: 30px;
}
.text-center p {
	float: left;
	color: #3b2d85;
}
.text-center a {
	float: right;
}
.title h1 {
	text-align: center;
	color: #e2574c;
	font-weight: bold;
}
form h2 {
	text-align: center;
	color: #3b2d85;
	font-size: 22px;
	margin-bottom: 20px;
}
.site-footer {
	background-color: #ecf8f6;
	text-align: center;
	margin: 150px 0 0 0;
	padding: 10px 0;
}
.form-control{
	margin-top: 10%;
	background: rgba(24, 83, 79, 0.08);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
   height: 55px;
   border-radius: 0%;
   margin-left: 0px;
}

#social-wrapper {
	text-align: center;
}

/*Social Media Icons*/
.social-wrapper {
	text-align: center;
}

.social-wrapper ul li {
	display: inline;
	margin: 0 5px;
}

.facebook-icon,
.instagram-icon,
.linkedin-icon {
	margin-top: 0.625em;
	width: 30px;
	height: 30px;
	opacity: 1;
	filter: alpha(opacity=60); /* For IE8 and earlier */
	border-radius: 25px;
}

.footer-nav p {
	text-align: center;
	color:#18534f;
}

footer hr {
	width: 50%;
	margin: 0 25% 15px 25%;
	background-color: #18534f;
	height: 1.3px !important;
	opacity: 0.8;
}
.imghelp{
    height: 250px;
}
@media screen and (max-width: 600px) {
    .imghelp{
        height: 20%;
    }
	}
